.idea/
*.xml
*.npy
metadata.*
*q&a.txt
*.cims.nyu.edu
*.pyc
__pycache__/
train.txt
test.txt
origin_data/
train_loss/
model/

# tex
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz

wikipedia-biography-dataset/
Papers/
